* {
	margin: 0;
	padding: 0;
}
html {
	background-color: black;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 900px;
    height: 1445px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: wheat;
}

header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #931420;
}
header h2 {
	font-size: 175%;
    font-style: italic;
	color: rgb(209, 37, 37);
    text-shadow: 4px 4px 4px black;
}
header h3 {
	font-size: 130%;
    font-style: italic;
	font-style: italic;
    color: rgb(190, 20, 20);
}
header img {
	float: left;
	padding: 0 30px;
}

main {
	clear: left;
	padding-top: 0;
	padding-bottom: 0;
}

.section{
	width: 525px;
	float: right;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}
section a{
    text-decoration: none;
    color:darkmagenta;
}
.section h2 {
	padding: .5em 0 .25em 0;
}
.section h1{
	font-size: 160%;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	margin:0px;
    color: rgb(71, 71, 151);
}
.section p {
	padding-bottom: .5em;
}
.section blockquote {
	padding: 0 2em;
	font-style: italic;
    color:teal;
}
.sec{
    color: brown;
}

article{
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}
article h3{
	font-size: 105%;
	padding-bottom: 0.25em;
}
article a{
    text-decoration: none;
    font-size: 95%;
    color:darkolivegreen;
}
article a:hover{
    color: lightseagreen;
}
article a:focus{
    color: lightseagreen;
}
.para{
    color:salmon;
}

aside{
	width: 215px;
	padding-left: 20px;
	padding-bottom: 20px;
}
aside h2 {
	padding: .5em 0 .25em 0;
}
aside a {
	font-size: 120%;
	padding-bottom: .25em;
    text-decoration: none;
    color: green;
}
aside a:hover{
    color: red;
}
aside a:focus{
    color: red;
}
aside li{
    color: green;
    line-height: 1.5em;
}
.inf{
    color: purple;
    font-size: 140%;
}
.our{
    color: darkslategray;
}
#ref{
    color: forestgreen;
}

footer {
	background-color: rgb(148, 47, 47);
	clear: right;
}
footer p {
    font-size: 90%;
	text-align: center;
	color: yellow;
	padding: 1em 0;
}